// Breakpoints
$large-breakpoint: {{ $.Site.Params.large_breakpoint | default "64em" }} !default;
$medium-breakpoint: {{ $.Site.Params.medium_breakpoint | default "42em" }} !default;

// Headers
$header-heading-color: {{ $.Site.Params.header_heading_color | default "#fff" }} !default; 
$header-bg-color: {{ $.Site.Params.header_background_color | default "#741336" }} !default;

// Text
$section-headings-color: {{ $.Site.Params.section_headings_color | default "#159957" }} !default;
$body-text-color: {{ $.Site.Params.body_text_color | default "#606c71" }} !default;
$blockquote-text-color: {{ $.Site.Params.blockquote_text_color | default "#819198" }} !default;

// Code
$code-bg-color: {{ $.Site.Params.code_background_color | default "#f3f6fa" }} !default;
$code-text-color: {{ $.Site.Params.code_text_color | default "#567482" }} !default;

// Borders
$border-color: {{ $.Site.Params.border_color | default "#dce6f0" }} !default;
$table-border-color: {{ $.Site.Params.table_border_color | default "#e9ebec" }} !default;
$hr-border-color: {{ $.Site.Params.hr_border_color | default "#eff0f1" }} !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* body */
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

/* links */
a {
  color: $body-text-color;
  border-bottom: solid $header-bg-color 4px;
  line-height: 0.2;
  text-decoration: none;

  &:hover {
    background-color: $header-bg-color;
	color : #ffffff;
	border-bottom: none;
	line-height: 1;
  }
}

/* navbar position */
.page-nav {

  text-align: center;

  @include large {
    padding: 3rem 4rem;
  }

  @include medium {
    padding: 2rem 3rem;
  }

  @include small {
    padding: 1rem 0.5rem;
  }
}

/* navbar content class */
.btn {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  color: $body-text-color;

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}

/* navbar - first of */
.btn:first-of-type {
	background-color: $header-bg-color;
	color : #ffffff;
	border-bottom: none;
	line-height: 1;
}

/* bandeau header */
.page-header {
  color: $header-heading-color;
  text-align: center;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

/* Niveaux de titre */
  h1,
  h2,
  h3,
  h4 {
  	font-family: "Roboto";
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    display: inline;
  }

  h1:after ,
  h2:after ,
  h3:after ,
  h4:after {
    content:"\a";
    white-space: pre;
    line-height:2;
}

h1 {
	font-size: 2.5em;
}

h1 {
	background-color: $header-bg-color;
	color : #ffffff;
	border-bottom: none;
}

h2 {
	color: $header-bg-color;
}

h3 {
  color: $body-text-color;
  border-bottom: solid $header-bg-color 4px;
  line-height: 0.15;
  text-decoration: none;
}

h4 {
	color: $header-bg-color;
}


 /* paragraphe */
  p {
    margin-bottom: 1em;
  }

/* code */
  code {
    padding: 2px 4px;
    font-family: Courier, monospace;
    font-size: 0.9em;
    color: $code-text-color;
    background-color: $code-bg-color;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

 /* code dans un header */
 h1 code, 
 h2 code, 
 h3 code, 
 h4 code {
 	background-color: inherit;
 	color: inherit;
 	padding: inherit;
 	font-family: Courier, monospace;
 }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

/* liste */
  ul,
  ol {
    margin-top: 0;
  }

  li {
  	margin-bottom: 5px;
  }

/* blockquote */
  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

/* tableau */
  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

/* liste de description */
  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

/* barre horizontale */
  hr {
    height: 4px;
    padding: 0;
    margin: 1rem 0;
    background-color: $header-bg-color;
    border: 0;
  }
}

/* footer */
.site-footer {
  background-color: $code-bg-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

/* crédits - sur la gauche */
.site-footer-credits {
  display: inline-block;
  width: 30%;
}

/* contact - sur la droite */
.site-footer-contact {
	display: inline-block;
	width: 50%;
    text-align: right;
}

/* social media - sur la droite */
ul.flat {
    margin: 0;
}

ul.flat a {
	display: block;
	border-bottom: none;
	margin: 15px;
}

.nav-social{
	display: inline-block;	
}


